<h1>Welcome, <%= current_user.name %></h1>
<h4><%= current_user.role.capitalize %></h4>

  <%= render partial: '/users/teachers/all_courses' %>
  <% current_user.taught_courses.each do |course| %>
  	<% if course.stories.size > 0 %>
      <%= render partial: '/users/teachers/all_stories',  locals: {stories: course.stories} %>
  	  <%= render partial: '/stories/comments_feed',  locals: {story: course.stories.first} %>
    <% end %>
  <% end %>


