<h1><%= @course.name %> (Name of course goes here)</h1>

<% @stories.each do |story| %>
<h3><a href="<%=@course.id%>/stories/<%=story.id%>"><%= story.title %></a></h3>
<%= story.author %><br>
<% end %>
