<section id="top" class="container" class="container-fluid">
  <section class="border outer" id="top_outer">
    <section class="border inner" id="top_inner">
      <header>
        <section id="logo">
          <a href="/">
            <span><i class="fa fa-book"></i>Bibliotate</span>
          </a>
        </section>

        <% if current_user == nil %>
         <section id="login_box">
            <a href="/auth">
              <span>Signup<i class="fa fa-google-plus"></i></span>
            </a>
            <a href="/auth">
              <span>Login<i class="fa fa-google-plus"></i></span>
            </a>
          </section>
        <% elsif current_user.role == "teacher" %>
          <section class="nav-name">
            Hello, <%= current_user.name %>
          </section>
          <section class="nav-add-story">
            <a href="/stories/new">Add a new story</a>
          </section>
          <section id="nav-teacher">
            <%= link_to "Create Course", new_course_path %>
          </section>
          <section id="login_box">
            <%= link_to  logout_path, :method => 'post' do %>
              <span>Logout<i class="fa fa-google-plus"></i></span>
            <% end  %>
          </section>
        <% else %>
          <section class="nav-name">
            Hello, <%= current_user.name %>
          </section>
          <section id="nav-student">
          </section>
          <section id="login_box">
            <%= link_to  logout_path, :method => 'post' do %>
              <span>Logout<i class="fa fa-google-plus"></i></span>
            <% end  %>
          </section>
        <% end %>

      </header>
    </section>
  </section>
</section>

