<section id="top">

      <header>
        <nav></nav>
        <section id="logo">
          <a href="/">
            <span><i class="fa fa-book"></i>Bibliotate</span>
          </a>
        </section>

        <% if current_user == nil %>

          <section id="login_box">
            <a href="/auth">
              <section id="google_plus"><i class="fa fa-google-plus"></i></section>
            </a>
            <span id="login_with_text">Login With</span>
          </section>

        <% elsif current_user.role == "teacher" %>
          <section id="login_box">
            <%= link_to  logout_path, :method => 'post' do %>
              <section id="google_plus"><i class="fa fa-google-plus"></i></section>
            <% end  %>
            <span id="login_with_text">Logout With</span>
          </section>


          <section id="nav-name">
            <%= link_to "#{current_user.name}", user_path(current_user) %>
          </section>


          <section id="nav-add-story" class="nav_buttons">
            <a href="/stories/new">Story+ <span id="book_icon" class="entypo-book-open"></span></a>
          </section>

          <section id="nav-teacher" class="nav_buttons">
            <a href="/courses/new">Course+ <span id="course_icon" class="entypo-doc-text"></span></i></a>
          </section>

          <section id="nav-view-hashtags" class="nav_buttons">
            <a href="/hashtags">Trending </a>
          </section>

          <section id="notification_partial">
            <%= render partial: "users/notification", :locals => {:notifications => current_user.notifications.limit(5).order(created_at: :desc)} %>
          </section>
 

        <% else %>

          <section id="login_box">
            <%= link_to  logout_path, :method => 'post' do %>
              <section id="google_plus"><i class="fa fa-google-plus"></i></section>
            <% end  %>
            <span id="login_with_text">Logout With</span>
          </section>

          <section id="nav-name">
            <%= link_to "#{current_user.name}", user_path(current_user) %>
          </section>

          <section id="nav-student" class="nav_buttons">
            <a href="/enrollments/new">Enroll+<span id="book_icon" class="entypo-doc-text"></span></a>
          </section>

          <section id="nav-view-hashtags" class="nav_buttons">
            <a href="/hashtags">Trending <span id="book_icon" class="entypo-book-open"></span></a>
          </section>

        <% end %>
      </header>
</section>

